.ratingContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 70px;
    max-width: 200px;
    justify-content: end;
    padding-right: 5px;
    margin-left: 10px;
}

.ratingNumber {
    text-align: end;
    padding-right: 6px;
}