.searchBox {
    position: relative;
    width: 100%;
}

.searchInput {
    font-size: 1.2rem;
    height: 30px;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid #F3F9D2;
    outline: 0;
    background: transparent;
    color: #f0ffff;
    padding: 5px 50px 5px 10px;
}

.searchButton {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #F3F9D2;
    border: none;
    background: none;
}

.searchInput:hover,
.searchInput:focus {
    transition: .8s;
    background: #141414;
}

@media (max-width: 300px) {

    .searchBox {
        margin: 0 5px;
    }

    .searchBox,
    .searchInput {
        width: 85%;
    }
}