.header_title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10000;
}

.title {
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 5px #FFF, 0 0 5px #FFF, 0 0 5px #49ff18, 0 0 5px #49FF18, 0 0 4px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}